!pip install selenium

# Q1: Write a python program to scrape data for “Data Analyst” Job position in “Bangalore” location.

You have to scrape the job-title, job-location, company_name, experience_required. You have to scrape first 10 jobs data. This task will be done in following steps:

1. First get the webpage https://www.naukri.com/
2. Enter “Data Analyst” in “Skill, Designations, Companies” field and enter “Bangalore” in “enter the
location” field.
3. Then click the search button.
4. Then scrape the data for the first 10 jobs results you get.
5. Finally create a dataframe of the scraped data.

Note: All of the above steps have to be done in code. No step is to be done manually

In [401]:
#Let import the required libraries

import selenium
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
from selenium.common.exceptions import StaleElementReferenceException, NoSuchElementException
from selenium.webdriver.common.by import By
import time

In [402]:
#Let first connect to the driver
driver=webdriver.Chrome(r"C:\Chrome driver\Chromedriver.exe")

In [403]:
#Opening the naukri page on automated chrome browser
driver.get("https://www.naukri.com/")

In [404]:
#entering designation as required in the question

designation=driver.find_element(By.XPATH,"/html/body/div[1]/div[6]/div/div/div[1]/div/div/div[1]/input")
designation.send_keys('Data Analyst')

In [405]:
#entering location as required in the question

location=driver.find_element(By.XPATH,"/html/body/div[1]/div[6]/div/div/div[5]/div/div/div/input")
location.send_keys('Bangalore')

In [406]:
#Click on search button

search=driver.find_element(By.XPATH,"/html/body/div[1]/div[6]/div/div/div[6]")
search.click()

In [407]:
job_title=[]
job_location=[]
company_name=[]
experience_required=[]

In [408]:
title_tags=driver.find_elements(By.XPATH,'//a[@class="title fw500 ellipsis"]')
for i in title_tags[0:10]:
    title=i.text
    job_title.append(title)

In [409]:
location_tags=driver.find_elements(By.XPATH,'//li[@class="fleft grey-text br2 placeHolderLi location"]')
for i in location_tags[0:10]:
    location=i.text
    job_location.append(location)

In [410]:
company_tags=driver.find_elements(By.XPATH,'//a[@class="subTitle ellipsis fleft"]')
for i in company_tags[0:10]:
    company=i.text
    company_name.append(company)

In [411]:
experience_tags=driver.find_elements(By.XPATH,'//li[@class="fleft grey-text br2 placeHolderLi experience"]')
for i in experience_tags[0:10]:
    experience=i.text
    experience_required.append(experience)

In [420]:
#let check the length of each required data

print(len(job_title),len(job_location),len(company_name),len(experience_required))

10 10 10 10

In [415]:
# Storing the data into dataframe

df=pd.DataFrame({'Job_title':job_title,'Job_location':job_location,'Company_name':company_name,'Experence_required':experience_required})

In [418]:
# Storing the data into dataframe
df

,Job_title,Job_location,Company_name,Experence_required
0,Contractual Hiring For Top MNC || Business Dat...,Bangalore/Bengaluru,TeamLease,5-8 Yrs
1,HCL hiring For Data Analyst,"Bangalore/Bengaluru, Pune, Chennai",HCL Technologies,3-8 Yrs
2,Programmer / Data Analyst,"Bangalore/Bengaluru, Kolkata, Hyderabad/Secund...",Frost & Sullivan,3-7 Yrs
3,Data Analyst - Python/Artificial Intelligence,"Bangalore/Bengaluru, Kolkata, Mumbai, Hyderaba...",iMindYourBusiness,0-2 Yrs
4,Customer Data Analyst,Bangalore/Bengaluru,Oracle,1-3 Yrs
5,Sr. Data Analyst,"Bangalore/Bengaluru, Pune",Global Indian School Education Services,6-11 Yrs
6,Data Analyst - Decision Science,Bangalore/Bengaluru,Jana Small Finance Bank,3-8 Yrs
7,Immediate opening For Data Analyst @ Bangalore,Bangalore/Bengaluru,TeamLease,4-6 Yrs
8,Associate Data Analyst,Bangalore/Bengaluru,Optum,2-7 Yrs
9,Associate Data Analyst,Bangalore/Bengaluru,Optum,1-4 Yrs

# Q2: Write a python program to scrape data for “Data Scientist” Job position in “Bangalore” location. 
You have to scrape the job-title, job-location, company_name. You have to scrape first 10 jobs data.
This task will be done in following steps:

1. First get the webpage https://www.naukri.com/
2. Enter “Data Scientist” in “Skill, Designations, Companies” field and enter “Bangalore” in “enter the
location” field.
3. Then click the search button.
4. Then scrape the data for the first 10 jobs results you get.
5. Finally create a dataframe of the scraped data.

Note: All of the above steps have to be done in code. No step is to be done manually.

In [1]:
#Let import the required libraries

import selenium
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
from selenium.common.exceptions import StaleElementReferenceException, NoSuchElementException
from selenium.webdriver.common.by import By
import time

In [2]:
#Let first connect to the driver
driver=webdriver.Chrome(r"C:\Chrome driver\Chromedriver.exe")

In [5]:
#Opening the naukri page on automated chrome browser
driver.get("https://www.naukri.com/")

In [6]:
#entering designation "Data Scientist" as required in the question

designation=driver.find_element(By.XPATH,"/html/body/div[1]/div[6]/div/div/div[1]/div/div/div[1]/input")
designation.send_keys('Data Scientist')

In [7]:
#entering location as required in the question

location=driver.find_element(By.XPATH,"/html/body/div[1]/div[6]/div/div/div[5]/div/div/div/input")
location.send_keys('Bangalore')

In [8]:
#Click on search button

search=driver.find_element(By.XPATH,"/html/body/div[1]/div[6]/div/div/div[6]")
search.click()

In [9]:
job_title=[]
job_location=[]
company_name=[]
experience_required=[]

In [10]:
# Scrapping Job title

title_tags=driver.find_elements(By.XPATH,'//a[@class="title fw500 ellipsis"]')
for i in title_tags[0:10]:
    title=i.text
    job_title.append(title)

In [11]:
location_tags=driver.find_elements(By.XPATH,'//li[@class="fleft grey-text br2 placeHolderLi location"]')
for i in location_tags[0:10]:
    location=i.text
    job_location.append(location)

In [12]:
company_tags=driver.find_elements(By.XPATH,'//a[@class="subTitle ellipsis fleft"]')
for i in company_tags[0:10]:
    company=i.text
    company_name.append(company)

In [13]:
#let check the length of each required data

print(len(job_title),len(job_location),len(company_name))

10 10 10

In [14]:
# Storing the data into dataframe

df=pd.DataFrame({'Job_title':job_title,'Job_location':job_location,'Company_name':company_name})

In [15]:
df

,Job_title,Job_location,Company_name
0,Job Opportunity on Data Science_ Python with T...,"Bangalore/Bengaluru, Kolkata, Hyderabad/Secund...",Tech Mahindra
1,Assistant Manager - Data Science,"Bangalore/Bengaluru, Mumbai, Pune",CitiusTech
2,Analystics & Modeling Specialist,"Bangalore/Bengaluru, Kolkata, Mumbai, Hyderaba...",Accenture
3,Hiring For DATA Scientist @ NTT DATA Business ...,"Bangalore/Bengaluru, Noida, Hyderabad/Secunder...",NTT DATA Business Solutions Private Limited
4,Data Scientist/AIML Engineer,"Bangalore/Bengaluru, Mumbai, Hyderabad/Secunde...",upGrad
5,Data Science Consultant,"Bangalore/Bengaluru, Pune, Gurgaon/Gurugram",ZS Associates India Pvt Ltd
6,Data Scientist,"Bangalore/Bengaluru, Noida, Nagpur",GlobalLogic
7,Data Scientist,Bangalore/Bengaluru,GlobalLogic
8,Lead ML Scientist,"Bangalore/Bengaluru, Mumbai",Fractal Analytics
9,Tcs Hiring For Data Scientist,"Bangalore/Bengaluru, Chennai, Mumbai (All Areas)",TATA CONSULTANCY SERVICES (TCS)

In [16]:
df.shape

(10, 3)

# Q3: In this question you have to scrape data using the filters available on the webpage as shown below:

You have to use the location and salary filter.

You have to scrape data for “Data Scientist” designation for first 10 job results.

You have to scrape the job-title, job-location, company name, experience required. 

The location filter to be used is “Delhi/NCR”. The salary filter to be used is “3-6” lakhs

The task will be done as shown in the below steps:
1. first get the webpage https://www.naukri.com/
2. Enter “Data Scientist” in “Skill, Designations, and Companies” field.
3. Then click the search button.
4. Then apply the location filter and salary filter by checking the respective boxes
5. Then scrape the data for the first 10 jobs results you get.
6. Finally create a dataframe of the scraped data.

Note: All of the above steps have to be done in code. No step is to be done manually.

In [53]:
#Let import the required libraries first:

import selenium
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
from selenium.common.exceptions import StaleElementReferenceException, NoSuchElementException
from selenium.webdriver.common.by import By
import time

In [54]:
#Let first connect to the driver
driver=webdriver.Chrome(r"C:\Chrome driver\Chromedriver.exe")

In [55]:
#Opening the naukri page on automated chrome browser
driver.get("https://www.naukri.com/")

In [56]:
#entering designation "Data Scientist" as required in the question

designation=driver.find_element(By.XPATH,"/html/body/div[1]/div[6]/div/div/div[1]/div/div/div[1]/input")
designation.send_keys('Data Scientist')

In [57]:
#entering location as required in the question

location=driver.find_element(By.XPATH,"/html/body/div[1]/div[6]/div/div/div[5]/div/div/div/input")
location.send_keys('Bangalore')

In [58]:
#Click on search button

search=driver.find_element(By.XPATH,"/html/body/div[1]/div[6]/div/div/div[6]")
search.click()

In [60]:
#applying the salary filter

search=driver.find_element(By.XPATH,"/html/body/div[1]/div[4]/div/section[1]/div[2]/div[5]/div[2]/div[2]/label/p/span[1]")
search.click()

In [62]:
#applying the location filter

search=driver.find_element(By.XPATH,"/html/body/div[1]/div[4]/div/section[1]/div[2]/div[13]/div[2]/div[3]/label/p/span[1]")
search.click()

In [63]:
job_title=[]
job_location=[]
company_name=[]
experience_required=[]

In [64]:
# Scrapping Job title

title_tags=driver.find_elements(By.XPATH,'//a[@class="title fw500 ellipsis"]')
for i in title_tags[0:10]:
    title=i.text
    job_title.append(title)

In [65]:
# Scrapping Job location

location_tags=driver.find_elements(By.XPATH,'//li[@class="fleft grey-text br2 placeHolderLi location"]')
for i in location_tags[0:10]:
    location=i.text
    job_location.append(location)

In [66]:
# Scrapping company name

company_tags=driver.find_elements(By.XPATH,'//a[@class="subTitle ellipsis fleft"]')
for i in company_tags[0:10]:
    company=i.text
    company_name.append(company)

In [67]:
# Scrapping experience required

experience_tags=driver.find_elements(By.XPATH,'//li[@class="fleft grey-text br2 placeHolderLi experience"]')
for i in experience_tags[0:10]:
    experience=i.text
    experience_required.append(experience)

In [68]:
#let check the length of each required data

print(len(job_title),len(job_location),len(company_name),len(experience_required))

10 10 10 10

In [70]:
# Storing the data into dataframe

df=pd.DataFrame({'Job_title':job_title,'Job_location':job_location,'Company_name':company_name,'Experence_required':experience_required})

In [71]:
df

,Job_title,Job_location,Company_name,Experence_required
0,Data Scientist,"Noida, Nagpur, Bangalore/Bengaluru",GlobalLogic,8-10 Yrs
1,DigitalBCG GAMMA Data Scientist,"New Delhi, Bangalore/Bengaluru",Boston Consulting Group,2-5 Yrs
2,Data Scientist,Gurgaon/Gurugram,Optum,2-7 Yrs
3,Data Scientist / Chat-bot Developer,"New Delhi, Bangalore/Bengaluru, Mumbai (All Ar...",Big Seo Buzz,3-7 Yrs
4,Lead Data Scientist,Noida(Sector-59 Noida)\n(WFH during Covid),R Systems International,7-10 Yrs
5,Data Scientist - Predictive Analytics,"Noida, Mumbai, Chandigarh, Hyderabad/Secundera...",Confidential,1-6 Yrs
6,Data Scientist - Engine Algorithm,"Delhi / NCR, Kolkata, Mumbai, Hyderabad/Secund...",Primo Hiring,1-3 Yrs
7,Data Scientist,Gurgaon/Gurugram,Feedback Infra,2-4 Yrs
8,Data Scientist,Noida,4i Odc,2-4 Yrs
9,"Data Scientist, Associate",Delhi / NCR,NatWest Group,2-7 Yrs

# Q4: Scrape data of first 100 sunglasses listings on flipkart.com. You have to scrape four attributes:

1. Brand

2. Product Description

3. Price

To scrape the data you have to go through following steps:

1.Go to Flipkart webpage by url : https://www.flipkart.com/

2.Enter “sunglasses” in the search field where “search for products, brands and more” is written and click the search icon

3.After that you will reach to the page having a lot of sunglasses. From this page you can scrap the required data as usual.

4.After scraping data from the first page, go to the “Next” Button at the bottom other page , then click on it.

5.Now scrape data from this page as usual

6.Repeat this until you get data for 100 sunglasses.

In [172]:
#Let import the required libraries first:

import selenium
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
from selenium.common.exceptions import StaleElementReferenceException, NoSuchElementException
from selenium.webdriver.common.by import By
import time

In [175]:
#lets connect with web driver
driver=webdriver.Chrome(r"C:\Chrome driver\Chromedriver.exe")

In [176]:
#onpening the flipkart website on automated chrome window
driver.get('https://www.flipkart.com/')

In [178]:
#search the “sunglasses” and click search button 

product=driver.find_element(By.XPATH,"/html/body/div[1]/div/div[1]/div[1]/div[2]/div[2]/form/div/div/input")
product.send_keys('Sunglasses')

In [187]:
#click on the search buttone

search=driver.find_element(By.XPATH,"/html/body/div[1]/div/div[1]/div[1]/div[2]/div[2]/form/div/button")
search.click()

In [194]:
Brand = []
Product_Description = []
Price= []

In [195]:
for i in range(3):
    brand = driver.find_elements(By.XPATH,'//div[@class="_2WkVRV"]')
    for i in brand:Brand.append(i.text)
    
    product_des = driver.find_elements(By.XPATH,"//a[@class='IRpwTa']")
    for i in product_des:Product_Description.append(i.text)    
    
    price = driver.find_elements(By.XPATH,"//div[@class='_30jeq3']")
    for i in price:Price.append(i.text)
    
time.sleep(3)        
        
        
nxt_button=driver.find_element(By.XPATH,"//a[@class='_1LKTO3']")#scraping the list of buttons from the page
nxt_button.click()

In [196]:
print(len(Brand),len(Product_Description),len(Price))

120 120 120

In [200]:
# lets  make dataframe from the scraped data

df = pd.DataFrame({'Brand': Brand,'Product_Description':Product_Description,'Price':Price})

df.iloc[0:100,:]

             Brand                                Product_Description Price
0        ROYAL SON         UV Protection Retro Square Sunglasses (60)  ₹479
1   ROZZETTA CRAFT  UV Protection, Gradient Rectangular Sunglasses...  ₹319
2     CRYSTAL CART  Polarized, UV Protection, Mirrored, Gradient R...  ₹476
3         Fastrack        UV Protection Shield Sunglasses (Free Size)  ₹719
4        Rich Club                    Polarized Round Sunglasses (48)  ₹209
..             ...                                                ...   ...
95  ROZZETTA CRAFT     UV Protection Spectacle Sunglasses (Free Size)  ₹319
96           NuVew               UV Protection Sports Sunglasses (62)  ₹307
97       New Specs   UV Protection Rectangular Sunglasses (Free Size)  ₹189
98  ROZZETTA CRAFT  UV Protection, Gradient Retro Square Sunglasse...  ₹279
99       ROYAL SON  Polarized, UV Protection Wayfarer Sunglasses (61)  ₹559

[100 rows x 3 columns]

# Q5: Scrape 100 reviews data from flipkart.com for iphone11 phone.
This task will be done in following steps:
1. First get the webpage https://www.flipkart.com/
2. Enter “iphone 11” in “Search” field . 
3. Then click the search button.

As shown in the above page you have to scrape the tick marked attributes.These are:
1. Rating
2. Review summary
3. Full review
4. You have to scrape this data for first 100 reviews.

Note: All the steps required during scraping should be done through code only and not manually

In [239]:
#Let import the required libraries first:

import selenium
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
from selenium.common.exceptions import StaleElementReferenceException, NoSuchElementException
from selenium.webdriver.common.by import By
import time

In [240]:
#lets connect with web driver
driver=webdriver.Chrome(r"C:\Chrome driver\Chromedriver.exe")

In [244]:
#opening the flipkart website on automated chrome window
driver.get('https://www.flipkart.com/')

In [245]:
#search the “iphone 11” and click search button 

product=driver.find_element(By.XPATH,"/html/body/div[1]/div/div[1]/div[1]/div[2]/div[2]/form/div/div/input")
product.send_keys('iphone 11')

In [246]:
#Click on search button

search=driver.find_element(By.XPATH,"/html/body/div[1]/div/div[1]/div[1]/div[2]/div[2]/form/div/button")
search.click()

In [249]:
#click on the "APPLE iPhone 11 (White, 128 GB)"

search=driver.find_element(By.XPATH,"/html/body/div[1]/div/div[3]/div[1]/div[2]/div[4]/div/div/div/a/div[2]/div[1]/div[1]")
search.click()

In [255]:
Rating = []
Review_summary = []
Full_review = []

In [258]:
for i in range(10):
    rating=driver.find_elements(By.XPATH,'//div[@class="_3LWZlK _1BLPMq"]')
    for i in rating:Rating.append(i.text)
        
    summary=driver.find_elements(By.XPATH,'//p[@class="_2-N8zT"]')
    for i in summary:Review_summary.append(i.text)
    
    review=driver.find_elements(By.XPATH,'//p[@class="_2-N8zT"]')
    for i in review:Full_review.append(i.text)           
        
next_button=driver.find_element(By.XPATH,'//a[@class="_1LKTO3"]')
next_button.click()

In [259]:
Review_summary

[]

In [257]:
print(len(Rating),len(Review_summary),len(Full_review))

0 0 0

In [237]:
# lets  make dataframe from the scraped data

df = pd.DataFrame({'Rating': Rating,'Review_summary':Review_summary,'Full_review':Full_review})

df.iloc[0:100,:]

Empty DataFrame
Columns: [Rating, Review_summary, Full_review]
Index: []

# Q6: Scrape data for first 100 sneakers you find when you visit flipkart.com and search for “sneakers” in the search field.

You have to scrape 4 attributes of each sneaker:
    
1. Brand
2. Product Description
3. Price

As shown in the below image, you have to scrape the tick marked attributes

In [2]:
import selenium
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
from selenium.common.exceptions import StaleElementReferenceException, NoSuchElementException
from selenium.webdriver.common.by import By
import time

In [3]:
#lets connect with web driver
driver=webdriver.Chrome(r"C:\Chrome driver\Chromedriver.exe")

In [4]:
#opening the flipkart website on automated chrome window
driver.get('https://www.flipkart.com/')

In [5]:
#search the “iphone 11” and click search button 

product=driver.find_element(By.XPATH,"/html/body/div[1]/div/div[1]/div[1]/div[2]/div[2]/form/div/div/input")
product.send_keys('sneakers')

In [6]:
search=driver.find_element(By.XPATH,"/html/body/div[1]/div/div[1]/div[1]/div[2]/div[2]/form/div/button")
search.click()

In [50]:
Brand = []
Product_Description = []
Price= []

In [51]:
for i in range(3):
    product_des = driver.find_elements(By.XPATH,"//div[@class='_2B099V']/a[1]")
    for i in product_des:Product_Description.append(i.text)
   
    brand = driver.find_elements(By.XPATH,'//div[@class="_2WkVRV"]')
    for i in brand:Brand.append(i.text)
      
    price = driver.find_elements(By.XPATH,"//div[@class='_30jeq3']")
    for i in price:Price.append(i.text)
                   
nxt_button=driver.find_element(By.XPATH,"//a[@class='_1LKTO3']")#scraping the list of buttons from the page
nxt_button.click()

In [52]:
print(len(Brand),len(Product_Description),len(Price))

120 120 120

In [54]:
data=pd.DataFrame()
data['Brand']=Brand
data['Product_Description']=Product_Description
data['Price']=Price
data.head(100)

             Brand                                Product_Description Price
0          AIRBELL                  Sneakers For Men Sneakers For Men  ₹479
1          Numenzo  Black Lightweight Casual Trendy Sneaker For Me...  ₹434
2           Shozie                                   Sneakers For Men  ₹389
3           Chevit  Super Stylish & Trendy Combo Pack of 02 Pairs ...  ₹629
4             aadi                                   Sneakers For Men  ₹279
..             ...                                                ...   ...
95        ASTEROID  Original Luxury Branded Fashionable Men's Casu...  ₹449
96          Shozie                                   Sneakers For Men  ₹348
97  KNIGHT WALKERS     Womens Loire Premium Casual Sneakers For Women  ₹799
98       Deals4you                                 Sneakers For Women  ₹297
99       SCATCHITE                          Sneakers Sneakers For Men  ₹360

[100 rows x 3 columns]

# Q7: Go to the link - https://www.myntra.com/shoes
Set second Price filter and Color filter to “Black”, as shown in the below image.

And then scrape First 100 shoes data you get. The data should include “Brand” of the shoes , Short Shoe 
description, price of the shoe as shown in the below image.

In [80]:
import selenium
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
from selenium.common.exceptions import StaleElementReferenceException, NoSuchElementException
from selenium.webdriver.common.by import By
import time

In [81]:
#lets connect with web driver
driver=webdriver.Chrome(r"C:\Chrome driver\Chromedriver.exe")

In [82]:
#opening the flipkart website on automated chrome window
driver.get('https://www.myntra.com/shoes')

In [86]:
filter_price=driver.find_element(By.XPATH,"/html/body/div[2]/div/div[1]/main/div[3]/div[1]/section/div/div[6]/ul/li[1]")
filter_price.click()

In [87]:
filter_black=driver.find_element(By.XPATH,"/html/body/div[2]/div/div[1]/main/div[3]/div[1]/section/div/div[5]/ul/li[2]/label")
filter_black.click()

In [121]:
Shoe_Brand = []
Shoe_Description = []
Shoe_Price= []

In [122]:
for i in range(3):
    
    brand = driver.find_elements(By.XPATH,'//h3[@class="product-brand"]')
    for i in brand:Shoe_Brand.append(i.text)
        
    product_des = driver.find_elements(By.XPATH,'//h4[@class="product-product"]')
    for i in product_des:Shoe_Description.append(i.text)
        
    price = driver.find_elements(By.XPATH,'//div[@class="product-price"]')
    for i in price:Shoe_Price.append(i.text)
                   
nxt_button=driver.find_element(By.XPATH,'//li[@class="pagination-next"]') 
nxt_button.click()

In [123]:
print(len(Shoe_Brand),len(Shoe_Description),len(Shoe_Price))

150 150 150

In [124]:
data=pd.DataFrame()
data['Shoe_Brand']=Shoe_Brand
data['Shoe_Description']=Shoe_Description
data['Shoe_Price']=Shoe_Price
data.head(100)

,Shoe_Brand,Shoe_Description,Shoe_Price
0,ROSSO BRUNELLO,Men Leather Loafers,Rs. 11999
1,Geox,Leather Block Pumps with Buckles,Rs. 7693Rs. 10990(30% OFF)
2,Geox,Men Leather Loafers,Rs. 7693Rs. 10990(30% OFF)
3,ROSSO BRUNELLO,Men Leather Loafers,Rs. 10999
4,Puma,Unisex Leather Trainers,Rs. 7999
...,...,...,...
95,ALDO,Men Leather Loafers,Rs. 9599Rs. 15999(40% OFF)
96,Geox,Men Solid Leather Sneakers,Rs. 9499
97,Saint G,Leather Stiletto Sandals with Buckles,Rs. 8500
98,Steve Madden,Women Woven Design Sneakers,Rs. 8499
99,ASICS,Men Gel Flux 6 Running Shoes,Rs. 7999

# Q8: Go to webpage https://www.amazon.in/

Enter “Laptop” in the search field and then click the search icon.
Then set CPU Type filter to “Intel Core i7” as shown in the below image:

After setting the filters scrape first 10 laptops data. You have to scrape 3 attributes for each laptop:
1. Title
2. Ratings
3. Price

In [125]:
import selenium
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
from selenium.common.exceptions import StaleElementReferenceException, NoSuchElementException
from selenium.webdriver.common.by import By
import time

In [126]:
#lets connect with web driver
driver=webdriver.Chrome(r"C:\Chrome driver\Chromedriver.exe")

In [127]:
#opening the flipkart website on automated chrome window
driver.get(' https://www.amazon.in/')

In [130]:
#search the “Laptop” and click search button 

product=driver.find_element(By.XPATH,"/html/body/div[1]/header/div/div[1]/div[2]/div/form/div[2]/div[1]/input")
product.send_keys('Laptop')

In [132]:
#search the “laptop” and click search button 

search=driver.find_element(By.XPATH,"/html/body/div[1]/header/div/div[1]/div[2]/div/form/div[3]/div/span/input")
search.click()

In [133]:
#search the “laptop” and click search button 

filter_CPU=driver.find_element(By.XPATH,"/html/body/div[1]/div[2]/div[1]/div[2]/div/div[3]/span/div[1]/div/div/div[6]/ul[4]/li[13]/span/a/span")
filter_CPU.click()

In [142]:
Title = []
Ratings = []
Price = []

In [143]:
product_title= driver.find_elements(By.XPATH,'//span[@class="a-size-medium a-color-base a-text-normal"]')
for i in product_title:Title.append(i.text)
        
product_rating = driver.find_elements(By.XPATH,'//span[@class="a-size-base s-underline-text"]')
for i in product_rating:Ratings.append(i.text)
        
product_price = driver.find_elements(By.XPATH,'//span[@class="a-price-whole"]')
for i in product_price:Price.append(i.text)

In [144]:
print(len(Title),len(Ratings),len(Price))

30 30 30

In [145]:
data=pd.DataFrame()
data['Title']=Title
data['Ratings']=Ratings
data['Price']=Price
data.head(10)

                                               Title Ratings     Price
0  Fujitsu UH-X 11th Gen Intel Core i7 13.3” FHD ...      76    84,990
1  Fujitsu UH-X 11th Gen Intel Core i7 13.3" FHD ...      83    99,990
2  Lenovo IdeaPad Slim 5 Intel Core i7 12th Gen 1...       8    82,990
3  Lenovo ThinkBook 15 Intel 11th Gen Core i7 15....      60    80,990
4  HP Pavilion 14 12th Gen Intel Core i7 16GB SDR...      27    92,200
5  Lenovo ThinkPad E14 Intel Core i7 11th Gen 14-...       3    94,990
6  DELL Alienware x14 Gaming Laptop, Intel i7-127...       4  2,00,490
7  Lenovo Yoga 7i 11th Gen Intel Core i7-1165G7 1...      89  1,06,999
8  ASUS TUF Gaming F15 (2022), 15.6-inch (39.62 c...      28  1,09,990
9  ASUS TUF Dash F15 (2022), 15.6-inch (39.62 cms...       4  1,26,990

# Q9: Write a python program to scrape data for first 10 job results for Data Scientist Designation in Noida  location. You have to scrape company name, No. of days ago when job was posted, Rating of the company. 
This task will be done in following steps:
1. First get the webpage https://www.ambitionbox.com/
2. Click on the Job option as shown in the image
3. After reaching to the next webpage, In place of “Search by Designations, Companies, Skills” enter
“Data Scientist” and click on search button.
4. You will reach to the following web page click on location and in place of “Search location” enter
“Noida” and select location “Noida”.

In [146]:
import selenium
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
from selenium.common.exceptions import StaleElementReferenceException, NoSuchElementException
from selenium.webdriver.common.by import By
import time

In [147]:
#lets connect with web driver
driver=webdriver.Chrome(r"C:\Chrome driver\Chromedriver.exe")

In [153]:
#opening the flipkart website on automated chrome window
driver.get('https://www.ambitionbox.com/')

In [154]:
#search the “laptop” and click search button 

search=driver.find_element(By.XPATH,"/html/body/div/div/div/div[1]/header/nav/ul/li[5]/a")
search.click()

In [157]:
#search the “Laptop” and click search button 

designation=driver.find_element(By.XPATH,"/html/body/div/div/div/div[2]/div[1]/div[1]/div/div/div/div/span/input")
designation.send_keys('Data Scientist')

In [158]:
#search the “laptop” and click search button 

search=driver.find_element(By.XPATH,"/html/body/div/div/div/div[2]/div[1]/div[1]/div/div/div/button/span")
search.click()

In [160]:
search_location=driver.find_element(By.XPATH,'/html/body/div/div/div/div[2]/div[1]/div[2]/div[1]/div/div/div/div[2]/div[1]/i')
search_location.click()

In [161]:
#search the “Laptop” and click search button 

enter_location=driver.find_element(By.XPATH,"/html/body/div/div/div/div[2]/div[1]/div[2]/div[1]/div/div/div/div[2]/div[2]/div/div[2]/input")
enter_location.send_keys('Noida')

In [162]:
filter_Noida=driver.find_element(By.XPATH,'/html/body/div/div/div/div[2]/div[1]/div[2]/div[1]/div/div/div/div[2]/div[2]/div/div[3]/div[1]/div[1]/div/label')
filter_Noida.click()

In [169]:
company_name = []
job_posted = []
company_rating = []

In [170]:
name= driver.find_elements(By.XPATH,'//p[@class="company body-medium"]')
for i in name:company_name.append(i.text)
        
posted = driver.find_elements(By.XPATH,'//span[@class="body-small-l"]')
for i in posted:job_posted.append(i.text)
        
rating = driver.find_elements(By.XPATH,'//span[@class="body-small"]')
for i in rating:company_rating.append(i.text)

In [175]:
posted=job_posted[::2]
posted

['4d ago',
 '2d ago',
 '4d ago',
 '2d ago',
 '31d ago',
 '24d ago',
 '26d ago',
 '1mon ago',
 '9d ago',
 '17d ago']

In [176]:
print(len(company_name),len(posted),len(company_rating))

10 10 10

In [177]:
data=pd.DataFrame()
data['company_name']=company_name
data['job_posted']=posted
data['company_rating']=company_rating
data.head(10)

                                     company_name job_posted company_rating
0  Optum Global Solutions (India) Private Limited     4d ago            4.1
1  BARCLAYS GLOBAL SERVICE CENTRE PRIVATE LIMITED     2d ago            4.3
2                                          EY GDS     4d ago            3.8
3               GLOBALLOGIC INDIA PRIVATE LIMITED     2d ago            4.0
4                         CBRE South Asia Pvt Ltd    31d ago            4.3
5                   GENPACT India Private Limited    24d ago            4.0
6                                         Genpact    26d ago            4.0
7        Ericsson India Global Services Pvt. Ltd.   1mon ago            4.3
8                         Dew Solutions Pvt. Ltd.     9d ago            4.3
9                    One97 Communications Limited    17d ago            3.8

# Q10: Write a python program to scrape the salary data for Data Scientist designation.
You have to scrape Company name, Number of salaries, Average salary, Minsalary, Max Salary. 
The above task will be, done as shown in the below steps:
1. First get the webpage https://www.ambitionbox.com/
2. Click on the salaries option as shown in the image.
3. After reaching to the following webpage, In place of “Search Job Profile” enters “Data Scientist” and 
then click on “Data Scientist”.
You have to scrape the data ticked in the above image.
4. Scrape the data for the first 10 companies. Scrape the company name, total salary record, average 
salary, minimum salary, maximum salary, experience required.
5. Store the data in a dataframe.

In [398]:
#import required libraries

import selenium
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
from selenium.common.exceptions import StaleElementReferenceException, NoSuchElementException
from selenium.webdriver.common.by import By
import time

In [380]:
#lets connect with web driver
driver=webdriver.Chrome(r"C:\Chrome driver\Chromedriver.exe")

In [381]:
#opening the ambitionbox website on automated chrome window
driver.get('https://www.ambitionbox.com/')

In [388]:
#select "salary" option

Click_on_salary=driver.find_element(By.XPATH,'/html/body/div/div/div/div[1]/header/nav/ul/li[3]/span')
Click_on_salary.click()

In [389]:
#select "salary" option

Click_on_browse_salary=driver.find_element(By.XPATH,'/html/body/div/div/div/div[1]/header/nav/ul/li[3]/div/ul/li[1]/div/div[2]/a')
Click_on_browse_salary.click()

In [392]:
#search the “Data Scientist”  

designation=driver.find_element(By.XPATH,'/html/body/div/div/div/main/section[1]/div[2]/div[1]/span/input')
designation.send_keys('Data Scientist')

In [393]:
#search the “Data Scientist” and click search button 

search_button=driver.find_element(By.XPATH,'/html/body/div/div/div/main/section[1]/div[2]/div[1]/span/div/div/div[1]/div/div/p')
search_button.click()

In [373]:
Company_name = []
Total_Salary_Records = []
Average_salary = []
Minimum_salary = []
Maximum_salary = []
Experience_required = []

In [374]:
name = driver.find_elements(By.XPATH,'//div[@class="company-info"]')
for i in name:Company_name.append(i.text.split("\n")[0])
        
record = driver.find_elements(By.XPATH,'//span[@class="datapoints"]')
for i in record:Total_Salary_Records.append(i.text)
        
avg_salary = driver.find_elements(By.XPATH,'//p[@class="averageCtc"]')
for i in avg_salary:Average_salary.append(i.text)

min_salary = driver.find_elements(By.XPATH,'//div[@class="salary-values"]')
for i in min_salary:Minimum_salary.append(i.text.split("\n")[0])
    
max_salary = driver.find_elements(By.XPATH,'//div[@class="salary-values"]')
for i in max_salary:Maximum_salary.append(i.text.split("\n")[1])

exp_req = driver.find_elements(By.XPATH,'//div[@class="sbold-list-header"]')
for i in exp_req:Experience_required.append(i.text.split("\n")[0])

In [375]:
Company_name=Company_name[0:10]
Company_name

['Walmart',
 'Ab Inbev',
 'Optum',
 'ZS',
 'Fractal Analytics',
 'Tiger Analytics',
 'Sigmoid Analytics',
 'Legato Health Technologies',
 'HSBC',
 'Tredence']

In [395]:
#Check length 

print(len(Company_name),len(Total_Salary_Records),len(Average_salary),len(Minimum_salary),len(Maximum_salary),len(Experience_required))

10 10 10 10 10 10

In [396]:
# Create Dataframe

df = pd.DataFrame({'Company_name':Company_name,'Total_Salary_Records':Total_Salary_Records,'Average_Salary':Average_salary,'Minimum_Salary':Minimum_salary,'Maximum_Salary':Maximum_salary,'Experience_required':Experience_required})
df

,Company_name,Total_Salary_Records,Average_Salary,Minimum_Salary,Maximum_Salary,Experience_required
0,Walmart,(based on 23 salaries),₹ 32.3L,₹ 25.0L,₹ 45.0L,3-4 yrs experience (based on 23 salaries)
1,Ab Inbev,(based on 57 salaries),₹ 19.9L,₹ 15.0L,₹ 26.0L,2-4 yrs experience (based on 57 salaries)
2,Optum,(based on 49 salaries),₹ 16.4L,₹ 11.0L,₹ 22.6L,2-4 yrs experience (based on 49 salaries)
3,ZS,(based on 34 salaries),₹ 15.8L,₹ 11.0L,₹ 22.0L,1-2 yrs experience (based on 34 salaries)
4,Fractal Analytics,(based on 115 salaries),₹ 15.4L,₹ 9.0L,₹ 23.0L,2-4 yrs experience (based on 115 salaries)
5,Tiger Analytics,(based on 68 salaries),₹ 14.7L,₹ 9.0L,₹ 20.0L,2-4 yrs experience (based on 68 salaries)
6,Sigmoid Analytics,(based on 10 salaries),₹ 14.7L,₹ 12.7L,₹ 19.7L,1 yr experience (based on 10 salaries)
7,Legato Health Technologies,(based on 11 salaries),₹ 14.5L,₹ 11.0L,₹ 20.0L,4 yrs experience (based on 11 salaries)
8,HSBC,(based on 10 salaries),₹ 14.0L,₹ 12.0L,₹ 18.0L,4 yrs experience (based on 10 salaries)
9,Tredence,(based on 14 salaries),₹ 13.9L,₹ 8.8L,₹ 17.5L,3 yrs experience (based on 14 salaries)

In [397]:
df.shape

(10, 6)